$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

$aqua:      #7fdbff !default;
$blue:      #0074d9 !default;
$navy:      #001f3f !default;
$teal:      #39cccc !default;
$green:     #2ecc40 !default;
$olive:     #3d9970 !default;
$lime:      #01ff70 !default;
$yellow:    #ffdc00 !default;
$orange:    #e9b000 !default;
$red:       #ff4136 !default;
$fuchsia:   #f012be !default;
$purple:    #b10dc9 !default;
$maroon:    #85144b !default;
$white:     #fff !default;
$offwhite:  #f5f5f5 !default;
$silver:    #ddd !default;
$darkgray:  #2A2A2A !default;
$gray:      #888 !default;
$black:     #2b2b2b !default;


// Backgroun colours
.border-black       {border-color: $black}
.border-darkgray    {border-color: $darkgray}
.border-gray        {border-color: $gray}
.border-silver      {border-color: $silver}
.border-white       {border-color: $white}
.border-offwhite    {border-color: $offwhite}
.border-aqua        {border-color: $aqua}
.border-blue        {border-color: $blue}
.border-navy        {border-color: $navy}
.border-teal        {border-color: $teal}
.border-green       {border-color: $green}
.border-olive       {border-color: $olive}
.border-lime        {border-color: $lime}
.border-yellow      {border-color: $yellow}
.border-orange      {border-color: $orange}
.border-red         {border-color: $red}
.border-fuchsia     {border-color: $fuchsia}
.border-purple      {border-color: $purple}
.border-maroon      {border-color: $maroon}

// Gray Spectrum
.border-gray0       {background-color: lighten($gray, 50)}
.border-gray1       {border-color: lighten($gray, 40)}
.border-gray2       {border-color: lighten($gray, 30)}
.border-gray3       {border-color: lighten($gray, 20)}
.border-gray4       {border-color: lighten($gray, 10)}

.border-gray5       {border-color: $gray}

.border-gray6       {border-color: darken($gray, 10)}
.border-gray7       {border-color: darken($gray, 20)}
.border-gray8       {border-color: darken($gray, 30)}
.border-gray9       {border-color: darken($gray, 40)}
.border-gray10      {border-color: darken($gray, 50)}
