$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

$aqua:      #7fdbff !default;
$blue:      #0074d9 !default;
$navy:      #001f3f !default;
$teal:      #39cccc !default;
$green:     #2ecc40 !default;
$olive:     #3d9970 !default;
$lime:      #01ff70 !default;
$yellow:    #ffdc00 !default;
$orange:    #e9b000 !default;
$red:       #ff4136 !default;
$fuchsia:   #f012be !default;
$purple:    #b10dc9 !default;
$maroon:    #85144b !default;
$white:     #fff !default;
$offwhite:  #f5f5f5 !default;
$silver:    #ddd !default;
$darkgray:  #2A2A2A !default;
$gray:      #888 !default;
$black:     #2b2b2b !default;


// Backgroun colours
.black       {color: $black}
.darkgray    {color: $darkgray}
.gray        {color: $gray}
.silver      {color: $silver}
.white       {color: $white}
.offwhite    {color: $offwhite}
.aqua        {color: $aqua}
.blue        {color: $blue}
.navy        {color: $navy}
.teal        {color: $teal}
.green       {color: $green}
.olive       {color: $olive}
.lime        {color: $lime}
.yellow      {color: $yellow}
.orange      {color: $orange}
.red         {color: $red}
.fuchsia     {color: $fuchsia}
.purple      {color: $purple}
.maroon      {color: $maroon}

// Gray Spectrum
.gray0       {color: lighten($gray, 50)};
.gray1       {color: lighten($gray, 40)};
.gray2       {color: lighten($gray, 30)};
.gray3       {color: lighten($gray, 20)};
.gray4       {color: lighten($gray, 10)};

.gray5       {color: $gray}

.gray6       {color: darken($gray, 10)};
.gray7       {color: darken($gray, 20)}
.gray8       {color: darken($gray, 30)}
.gray9       {color: darken($gray, 40)}
.gray10      {color: darken($gray, 50)}
