$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

.ls0          {letter-spacing: 0em}
.ls1          {letter-spacing: 0.05em;}
.ls2          {letter-spacing: .1em;}
.ls3          {letter-spacing: .15em;}
.ls4          {letter-spacing: .2em;}
.ls5          {letter-spacing: .25em;}
.ls6          {letter-spacing: .3em;}
