$breakpoint-sm: '(min-width: 40em)' !default;
$breakpoint-md: '(min-width: 52em)' !default;
$breakpoint-lg: '(min-width: 64em)' !default;

$padding-step-start: 1;
$padding-step-limit: 6;
$padding-unit: 6;

// paddings
.p0       {padding: 0}
.pp5      {padding: .5em}
@for $i from $padding-step-start through $padding-step-limit {
  .p#{$i} {padding: #{$i}em}
}

// padding-tops
.pt0       {padding: 0}
.ptp5      {padding: .5em}
@for $i from $padding-step-start through $padding-step-limit {
  .pt#{$i} {padding: #{$i}em}
}

// padding-rights
.pr0       {padding: 0}
.prp5      {padding: .5em}
@for $i from $padding-step-start through $padding-step-limit {
  .pr#{$i} {padding: #{$i}em}
}

// padding-bottoms
.pb0       {padding: 0}
.pbp5      {padding: .5em}
@for $i from $padding-step-start through $padding-step-limit {
  .pb#{$i} {padding: #{$i}em}
}

// padding-lefts
.pl0       {padding: 0}
.plp5      {padding: .5em}
@for $i from $padding-step-start through $padding-step-limit {
  .pl#{$i} {padding: #{$i}em}
}
